<a href="https://colab.research.google.com/github/psbhargava/100daysofnlp/blob/master/Day11_TF_IDFVectorizer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
text1 = "I love my cat but the cat sat on my face"
text2 = "I love my dog but the dog sat on my bed"

## Word Tokenization

In [0]:
words1 = text1.split(" ")
words2 = text2.split(" ")

In [0]:
print(words1)
print(words2)

['I', 'love', 'my', 'cat', 'but', 'the', 'cat', 'sat', 'on', 'my', 'face']
['I', 'love', 'my', 'dog', 'but', 'the', 'dog', 'sat', 'on', 'my', 'bed']

In [0]:
corpus = set(words1).union(set(words2))
print(corpus)

{'the', 'on', 'face', 'I', 'but', 'cat', 'my', 'sat', 'bed', 'love', 'dog'}

## TF-IDF Vectorization

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()

In [0]:
corpus = ["I love my cat but the cat sat on my face", "I love my dog but the dog sat on my bed"]
X = tfidf.fit_transform(corpus)
feature_names = tfidf.get_feature_names()
corpus_index = [n for n in corpus]

In [0]:
import pandas as pd
df = pd.DataFrame(X.T.todense(), index = feature_names, columns = corpus_index)
df.style