<a href="https://colab.research.google.com/github/psbhargava/100daysofnlp/blob/master/Day16_Regex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import re
re.match('abc', 'abcdef')

In [0]:
word_regex = '\w+'
re.match(word_regex, 'hi there!')

## Regex Tokenization

In [0]:
from nltk.tokenize import RegexpTokenizer 
tokenizer = RegexpTokenizer("[\w']+")

In [0]:
text = "Let's see how it's working."
tokenizer.tokenize(text)

["Let's", 'see', 'how', "it's", 'working']

In [0]:
from nltk.tokenize import regexp_tokenize 

text = "Let's see how it's working."
regexp_tokenize(text, "[\w']+")

["Let's", 'see', 'how', "it's", 'working']

In [0]:
## regular expressions
text1 = '"ethics are built.. but I love you IITG @aakash loves @jinky" ##jiggs'
text2 = text1.split(' ')
text2

['"ethics',
 'are',
 'built..',
 'but',
 'I',
 'love',
 'you',
 'IITG',
 '@aakash',
 'loves',
 '@jinky"',
 '##jiggs']

In [0]:
print([w for w in text2 if w.startswith('@')]) 
print([w for w in text2 if re.search('@[A-Za-z0-9_]+' ,w)])
print([w for w in text2 if re.search('@\w+' ,w)])

['@aakash', '@jinky"']
['@aakash', '@jinky"']
['@aakash', '@jinky"']

In [0]:
## finding specific characters
text3 = 'ouagadougou'
re.findall(r'[^aeiou]' , text3)

['g', 'd', 'g']

## regex for dates

In [0]:
datestr = '23-10-2002\n23/10/2002\n23/10/02\n10/23/2002\n23 Oct 2002\n23 October 2002\nOct 23, 2002\nOctober 23, 2002\n'
print(re.findall(r'\d{2}[/-]\d{2}[/-]\d{4}' , datestr))
print(re.findall(r'\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}' , datestr))
re.findall(r'\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* \d{4}' , datestr)
print(re.findall(r'(?:\d{2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{2}, )?\d{4}' , datestr))

['23-10-2002', '23/10/2002', '10/23/2002']
['Oct']
['23 Oct 2002', '23 October 2002', 'Oct 23, 2002', 'October 23, 2002']

## regex with pandas and named groups

In [0]:
import pandas as pd
sentences = ['monday: I sleep at 2:00am.',
             'tuesday: I sleep at 2:30am',
             'wednesday: I sleep at 3:00am.',
             'thursday: I sleep at 4:00am in the morning.']

In [0]:
df = pd.DataFrame(sentences , columns = ['text'])
df.head()

                                          text
0                   monday: I sleep at 2:00am.
1                   tuesday: I sleep at 2:30am
2                wednesday: I sleep at 3:00am.
3  thursday: I sleep at 4:00am in the morning.

In [0]:
print(df['text'].str.split().str.len())

0    5
1    5
2    5
3    8
Name: text, dtype: int64

In [0]:
print(df['text'].str.contains('sleep'))

0    True
1    True
2    True
3    True
Name: text, dtype: bool

In [0]:
print(df['text'].str.findall(r'\d'))

0    [2, 0, 0]
1    [2, 3, 0]
2    [3, 0, 0]
3    [4, 0, 0]
Name: text, dtype: object

In [0]:
print(df['text'].str.count(r'\d'))

0    3
1    3
2    3
3    3
Name: text, dtype: int64

In [0]:
print(df['text'].str.findall(r'(\d):(\d\d)'))

0    [(2, 00)]
1    [(2, 30)]
2    [(3, 00)]
3    [(4, 00)]
Name: text, dtype: object

In [0]:
print(df['text'].str.replace(r'\w+day\b' , '???'))

0                   ???: I sleep at 2:00am.
1                    ???: I sleep at 2:30am
2                   ???: I sleep at 3:00am.
3    ???: I sleep at 4:00am in the morning.
Name: text, dtype: object

In [0]:
print(df['text'].str.replace(r'(\w+day)' , lambda x: x.groups()[0][:3]    ))

0                   mon: I sleep at 2:00am.
1                    tue: I sleep at 2:30am
2                   wed: I sleep at 3:00am.
3    thu: I sleep at 4:00am in the morning.
Name: text, dtype: object

In [0]:
print(df['text'].str.extract(r'(\d?\d):(\d\d) ?([ap]m)'))

   0   1   2
0  2  00  am
1  2  30  am
2  3  00  am
3  4  00  am

In [0]:
print(df['text'].str.extractall(r'(\d?\d):(\d\d) ?([ap]m)'))

         0   1   2
  match
0 0      2  00  am
1 0      2  30  am
2 0      3  00  am
3 0      4  00  am

In [0]:
print(df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))'))

           time hour minute period
  match
0 0      2:00am    2     00     am
1 0      2:30am    2     30     am
2 0      3:00am    3     00     am
3 0      4:00am    4     00     am