<a href="https://colab.research.google.com/github/psbhargava/100daysofnlp/blob/master/Day10_CountVectorizer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from sklearn.feature_extraction.text import CountVectorizer
corpus = ['This is the first document.',
    'This document is the second document.',
    'And this is the third one.',
    'Is this the first document?',]

In [2]:
vectorizer = CountVectorizer()
vector = vectorizer.fit_transform(corpus)
print(vectorizer.get_feature_names())

['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']

In [3]:
print('Vocabulary: ')
print(vectorizer.vocabulary_)

Vocabulary:
{'this': 8, 'is': 3, 'the': 6, 'first': 2, 'document': 1, 'second': 5, 'and': 0, 'third': 7, 'one': 4}

In [4]:
print(vector.toarray())

[[0 1 1 1 0 0 1 0 1]
 [0 2 0 1 0 1 1 0 1]
 [1 0 0 1 1 0 1 1 1]
 [0 1 1 1 0 0 1 0 1]]

In [0]:
text1 = "I love my cat but the cat sat on my face"
text2 = "I love my dog but the dog sat on my bed"

In [0]:
words1 = text1.split(" ")
words2 = text2.split(" ")

In [7]:
corpus = set(words1).union(set(words2))
print(corpus)

{'on', 'my', 'but', 'sat', 'dog', 'bed', 'the', 'I', 'cat', 'face', 'love'}

In [0]:
from sklearn.feature_extraction.text import CountVectorizer
corpus = [ "I love my cat but the cat sat on my face",
    "I love my dog but the dog sat on my bed" ]

In [0]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(corpus)
feature_names = vectorizer.get_feature_names()
corpus_index = [n for n in corpus]

In [10]:
import pandas as pd
df = pd.DataFrame(X.T.todense(), index = feature_names, columns = corpus_index)
df.style

In [11]:
print(X.T.toarray())

[[0 1]
 [1 1]
 [2 0]
 [0 2]
 [1 0]
 [1 1]
 [2 2]
 [1 1]
 [1 1]
 [1 1]]